@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

#app {
  font-family: "Tahoma", serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-bg {
  background-color: #efefef;
  margin-bottom: 20px;
}
