@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

$primary: #8bdcd5;
@import "~bootstrap/scss/bootstrap";
@import "~@vueform/multiselect/themes/default.css";

#app {
  font-family: "Tahoma", serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --ms-option-bg-selected: #8bdcd5;
  --ms-option-bg-selected-pointed: rgba(3, 116, 134, 0.9);
}

.main-bg {
  background-color: #efefef;
  margin-bottom: 20px;
}
.form-label-group {
  display: block;

  .form-control {
    box-shadow: none !important;
    min-height: calc(
      var(--ms-border-width, 1px) * 2 + var(--ms-font-size, 1rem) *
        var(--ms-line-height, 1.375) + var(--ms-py, 0.5rem) * 2
    );
    &:focus {
      border-color: #8bdcd5;
    }
  }
}
.multiselect {
  &.is-active {
    box-shadow: none !important;
    border-color: #8bdcd5;
  }
}
.guests-list {
  min-height: 42px;
  background-color: #efefef;

  &-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.header-input-title {
  display: block;
  margin-bottom: 7px;
}
.d-none {
  display: none;
}
.revue-draggable-dragging {
  .sog-mod {
    border: 1px solid $primary;
  }
}
.v-card {
  .v-card-title,
  .v-card-text,
  .v-card-subtitle {
    padding: 10px 15px !important;
  }
}
.v-dialog .v-overlay__content {
  max-height: inherit !important;
}
